<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} TITLE {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% block style %} {% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<center>
				{% block header %}
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				        <span class="navbar-toggler-icon"></span>
				    </button>

				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				        <ul class="navbar-nav">
				            <li class="nav-item {{ home }} px-4">
				                <a class="nav-link" href="/" style="font-size:20px;">Home</a>
				            </li>
				        </ul>
								<ul class="navbar-nav">
				            <li class="nav-item {{ info }} px-4">
				                <a class="nav-link" href="/info" style="font-size:20px;">Info</a>
				            </li>
				        </ul>
				    </div>
				</nav>
				{% endblock %}
				<br>
				{% set msgs = get_flashed_messages(with_categories=true) %}
				{% for category, msg in msgs %}
				<div class="alert {{ category }}" role="alert">
  				{{ msg }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					   <span aria-hidden="true">&times;</span>
					 </button>
				</div>
				{% endfor %}
				{% block body %}
				{% endblock %}
			</center>
		</div>
	</body>
	<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	{% block script %}
	{% endblock %}
</html>
