{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<span>
	<select id="display">
		<option value="0" selected="selected">Map</option>
		<option value="1">Chart</option>
	</select>
	<select id="value">
		<option value="0" selected="selected">Population</option>
		<option value="1">Ethnicity</option>
		<option value="2">Gender Ratio</option>
	</select>
	<button id="renderbtn">Render</button>
</span>
<br><br>
<div style="display:none" id="ethform">
  <button id="white" onclick="render_eth_map('white')">White</button>
  <button id="asian" onclick="render_eth_map('asian')">Asian</button>
	<button id="black" onclick="render_eth_map('black')">African American</button>
	<button id="hispanic" onclick="render_eth_map('hispanic')">Hispanic</button>
	<button id="native" onclick="render_eth_map('native')">Native American</button>
	<button id="pacific" onclick="render_eth_map('pacific')">Pacific Islander</button>
</div>
<br>
<div id="chart">
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var data = {{ data|tojson }};
	var eth_data = {{ eth_data|tojson }};
	var gender_data = {{ gender_data|tojson }};
</script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
<script src="https://unpkg.com/topojson-client@3"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
{% endblock %}
