{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<button id="pop">Population</button>
<div id="popchart">
</div>
<button id="eth">Ethnicity</button>
<div id="ethchart">
</div>
<button id="gen">Gender Ratio</button>
<div id="genchart">
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var data = {{ data|tojson }};
	var dataset = {{ dataset|tojson }};
	var gender_data = {{ gender_data|tojson }};
</script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
<script src="https://unpkg.com/topojson-client@3"></script>
{% endblock %}
