{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block style %}
<style>
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }
</style>
{% endblock %}

{% block body %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">ConSensus</h1>
    <p class="lead text-muted">Check out data visualizations on US demographics, from population to distribution of ethnicity, and more. Find the population of your home county or view the diffusion of gender throughout the US.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/info" role="button">Learn more</a>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img src="../static/img/country.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Country</h5>
            <p class="card-text">View info about population, ethnicity, and gender ratios throughout the US.</p>
            <br>
            <a href="/country" class="btn btn-outline-primary">Go to Country View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img src="../static/img/state.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">State</h5>
            <p class="card-text">Get info about citizenship percentage, population by county, and median income of each state.</p>
            <br>
            <a href="/search" class="btn btn-outline-primary">Search Up a State</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
