{% extends "base.html" %}

{% block title %}
	State
{% endblock %}


{% block body %}
{% with errors = get_flashed_messages() %}
	<ul style="list-style: none;">
		{% for error in errors %}
			<li>
				<div class="alert alert-danger">
					{{ error }}
				</div>
			</li>
		{% endfor %}
	</ul>
{% endwith %}
<h1>State</h1>
<div class="d-flex justify-content-center">
    <form class="form-inline" action = "/search" method="GET">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Type state here..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
{% endblock %}
