{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<span>
	<select id="order">
		<option value="0" selected="selected">Alphabetical</option>
		<option value="1">Ascending</option>
		<option value="2">Decending</option>
	</select>
	<button id="change">Update Graph</button>
</span>
<br>
<button id="pop">Population</button>
<div id="popchart">
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var data = {{ data|tojson }};
</script>
<script src="{{url_for('static', filename='js/state.js')}}"></script>
{% endblock %}
