{% extends "base.html" %}

{% block title %}
	{{ name }}
{% endblock %}

{% block body %}
<h2>{{name}}</h2>
<span>
	<div class="row justify-content-center">
		<div class="col-lg-2">
			<select id="type" class="custom-select">
				<option value="0">Population</option>
				<option value="1">Median Income</option>
				<option value="2">Voting Status</option>
			</select>
		</div>
		<button class="btn btn-primary" id="render">Render</button>
	</div>
</span>
<br>
<span>
	<div class="row justify-content-center">
		<div class="col-lg-2">
			<select id="order" class="custom-select" style="display: none;">
				<option value="0">Alphabetical</option>
				<option value="1">Ascending</option>
				<option value="2">Descending</option>
			</select>
		</div>
		<button class="btn btn-primary" id="update" style="display: none;">Update</button>
	</div>
</span>
<br>
<div id="popchart">
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  var data = {{ data|tojson }};
  var vote_data = {{ vote_data|tojson}};
</script>
<script src="{{url_for('static', filename='js/state.js')}}"></script>
{% endblock %}
